network.id=1
#network.genesis_data_file=<not-needed-for-mainnet>
network.p2p.seed_nodes=radix://node_rdx1qf2x63qx4jdaxj83kkw2yytehvvmu6r2xll5gcp6c9rancmrfsgfw0vnc65@52.212.35.209,radix://node_rdx1qgxn3eeldj33kd98ha6wkjgk4k77z6xm0dv7mwnrkefknjcqsvhuu4gc609@54.79.136.139,radix://node_rdx1qwrrnhzfu99fg3yqgk3ut9vev2pdssv7hxhff80msjmmcj968487uugc0t2@43.204.226.50,radix://node_rdx1q0gnmwv0fmcp7ecq0znff7yzrt7ggwrp47sa9pssgyvrnl75tvxmvj78u7t@52.21.106.232 

node.key.path=/etc/radix-babylon/node/secrets/node-keystore.ks
db.location=/babylon-ledger

network.host_ip=1.2.3.4

api.core.bind_address=
api.core.port=
api.system.bind_address=
api.system.port=
api.prometheus.bind_address=
api.prometheus.port=

network.p2p.listen_port=30000
network.p2p.broadcast_port=30000
network.p2p.use_proxy_protocol=false

db.local_transaction_execution_index.enable=
db.account_change_index.enable=
api.core.flags.enable_unbounded_endpoints=

consensus.validator_address=

genesis.use_olympia=true
genesis.olympia.node_end_state_api_url=http://127.0.0.1:3400
genesis.olympia.node_end_state_api_auth_user=
genesis.olympia.node_end_state_api_auth_password=
genesis.olympia.node_bech32_address=