ntp=false
ntp.pool=pool.ntp.org

network.id=1
node.key.path=/etc/radixdlt/node/secrets/node-keystore.ks
network.p2p.listen_port=30000
network.p2p.broadcast_port=30000
network.p2p.seed_nodes=radix://rn1qthu8yn06k75dnwpkysyl8smtwn0v4xy29auzjlcrw7vgduxvnwnst6derj@54.216.99.177
network.host_ip=1.2.3.4
db.location=/data

api.port=3333

api.transactions.enable=false
api.sign.enable=true
api.bind.address=127.0.0.1
network.p2p.use_proxy_protocol=false
