ntp=false
ntp.pool=pool.ntp.org

network.id=2
node.key.path=/etc/radixdlt/node/secrets/node-keystore.ks
network.p2p.listen_port=30000
network.p2p.broadcast_port=30000
network.p2p.seed_nodes=radix://tn1qt9kqzzqyj27zv4n67f2jrzgd24hsxfwe8d4kw9j4msze7rpdg3guvk07jy@54.76.86.46:30000
network.host_ip=1.2.3.4
db.location=/data

api.node.port=3333
api.archive.port=8080
log.level=debug

api.archive.enable=false
api.construction.enable=false
api.account.enable=true
api.health.enable=true
api.metrics.enable=true
api.system.enable=true
api.validation.enable=true
api.version.enable=true

api.node.bind.address=127.0.0.1
api.archive.bind.address=127.0.0.1
